<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-int1001-cape-t.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/672b46c2-4691-42b7-87cc-e283f66f90a9/resourceGroups/rg-cape-lab/providers/Microsoft.Web/sites/func-INT1001-CAPE-t</ResourceId>
    <UserName>$func-INT1001-CAPE-t</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://func-int1001-cape-t.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>